@import '../../../../styles/mixins';


.box {
    display: flex;
    flex-flow: row wrap;
    gap: 6px 4px;
    margin: 0;
    @include non-list;

    & > li > .badge {
        font-size: 11pt;
    }
}