@import '../../../styles/palette';

.form {
    width: 100%;
    height: max-content;
    display: grid;
    gap: 1.6rem;
    grid-template-columns: 1fr;
}

.input {
    display: inline-block;
    font-size: 12pt;
    letter-spacing: 0.1rem;
    padding: 1rem;
    color: $black;
    background-color: $blue-light-shade;
    border-color: transparent;
    border-radius: 1.2rem;
    outline: 0;

    &::placeholder {
        color: #333;
    }
}

.button {
    transition: .5s;
}