
@import '../../styles/animations';
@import '../../styles/fonts';
@import '../../styles/palette';

.reset_password {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_box {
    width: clamp(36rem, 80vw, 40rem);
    height: clamp(20rem, 75vh, 40rem);
    display: grid;
    align-items: start;
    justify-content: center;
    grid-template-rows: auto repeat(2, 1fr);
    gap: 3.2rem;
    color: $white;
    margin-bottom: 5rem;
    padding: 0 4rem;
    background-color: $blue-monochromatic;
    box-shadow: 0 15px 50px rgba(0, 0, 0, .5);
    overflow: hidden;
    user-select: none;
    @include zoomInDown;
}

.title {
    font: 600 28pt $title-font;
    letter-spacing: .2rem;
    text-align: center;
}