@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto';
    src:
      local('Roboto'),
      local('Roboto-Regular'),
      url('/assets/fonts/Roboto-Regular.woff2') format('woff2'),
      url('/public/assets/fonts/Roboto-Regular.woff2') format('woff2');
    font-display: swap;
  }

  @font-face {
    font-family: 'Nunito';
    src:
      local('Nunito'),
      local('Nunito Regular'),
      local('Nunito-Regular'),
      url('/assets/fonts/Nunito-Regular.woff2') format('woff2'),
      url('/public/assets/fonts/Nunito-Regular.woff2') format('woff2');
    font-display: swap;
  }
}

@layer base {
  :root {
    --white: 253 252 250; /* fdfcfa */
    --black: 	27 28 30; /* 1b1c1e */

    --background: 228 230 238; /* e4e6ee */
    --foreground: var(--black);

    --muted: 223 239 255;  /* dfefff */
    --muted-foreground: var(--black);

    --popover: 228 230 238; /* e4e6ee */
    --popover-foreground: var(--black);

    --card: 228 230 238; /* e4e6ee */
    --card-foreground: var(--black);

    --border: 128 140 177; /* 808cb1 */
    --input: 128 140 177; /* 808cb1 */

    --primary: 	10 145 237; /* 0a91ed */
    --primary-foreground: var(--white);

    --secondary: 20 211 123; /* 14d37b */
    --secondary-foreground: var(--white);

    --accent: 210 214 227; /* d2d6e3 */
    --accent-foreground: ;

    --destructive: 245 63 163; /* f53fa3 */
    --destructive-foreground: var(--white);

    --ring: 182 189 210; /* b6bdd2 */

    --nav: 219 222 233; /* dbdee9 */

    --radius: 0.5rem;
  }

  .dark {
    --background: 36 44 70; /* 242c46 */
    --foreground: var(--white);

    --muted: 	7 41 74; /* 07294a */
    --muted-foreground: var(--white);

    --popover: 36 44 70; /* 242c46 */
    --popover-foreground: var(--white);

    --card: 36 44 70; /* 242c46 */
    --card-foreground: var(--white);

    --border: 73 90 143; /* 495a8f */
    --input: 73 90 143; /* 495a8f */

    --primary: 	52 171 252; /* 34abfc */
    --primary-foreground: var(--black);

    --secondary: 61 235 154; /* 3deb9a */
    --secondary-foreground: var(--black);

    --accent: 55 68 107; /* 37446b */
    --accent-foreground: ;

    --destructive: 251 107 190; /* fb6bbe */
    --destructive-foreground: var(--black);

    --ring: 55 68 107; /* 37446b */

    --nav: 44 54 86; /* 2c3656 */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply font-body;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-pretty {
    text-wrap: pretty;
  }
}
