@import '../../../styles/palette';

.form {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 2rem;
}

.textarea {
    height: 15rem;
    font-size: 12pt;
    line-height: 1.5;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid $green-blue;
    box-shadow: 2px 2px 1px rgba($green-blue, .5);
    outline-color: $green-blue;
    resize: none;
}

.commands {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.2rem;
}

.button {
    outline: 0;
    border-color: transparent;
}