@mixin zoomInDown {
    animation: zoomInDown 500ms;
}

@keyframes zoomInDown {
    0% {
        animation-timing-function:
            cubic-bezier(.55, .055, .675, .19);
        opacity: 0;
        transform:
            scale3d(.1, .1, .1)
            translate3d(0, -1000px, 0);
    }

    60% {
        animation-timing-function:
            cubic-bezier(.175, .885, .32, 1);
            opacity: 1;
            transform:
                scale3d(.475, .475, .475)
                translate3d(0, 60px, 0);
    }
}

@mixin spin {
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@mixin slideInRight {
    animation: slideInRight 250ms;
}

@keyframes slideInRight {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}