$black: #111;
$white: #dfe6e9;

$green: #01a95a;
$blue: #0192fe;
$green-blue: #4a839c;

$green-light-shade: #c2f2dc;
$blue-light-shade: #c2ddf2;
$green-blue-light-shade: #c2e4f2;

$green-monochromatic: #014d29;
$blue-monochromatic: #002b4d;
$green-blue-monochromatic: #24404d;

$green-analogous: #02afb5;
$blue-analogous: #4db2ff;
$green-blue-analogous: #1d7ea8;

$green-complementary: #a8024f;
$blue-complementary: #ff6a00;
$green-blue-complementary: #a14c4d;
