@import '../../../../styles/fonts';
@import '../../../../styles/palette';


.title {
    color: $white;
    font: 700 22pt $title-font;
    line-height: 1;
    letter-spacing: .2rem;
}

.select {
    width: 5.2rem;
    font-size: 12pt;
    margin: 0;
    outline: 0;
    border: none;
    appearance: none;
    background-color: transparent;
    background-image:
        url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}