@import '../../../styles/animations.scss';
@import '../../../styles/palette.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, .1);
    border-radius: 50%;
    border-left-color: $blue;

    @include spin;
}

.full {
    height: calc(100vh - 60px);
}

.s {
    width: 16px;
    height: 16px;
}

.m {
    width: 36px;
    height: 36px;
}