@import '@/styles/mixins';
@import '@/styles/palette';

.badge {
  &-user::selection {
    color: white !important;
    background-color: $green-monochromatic !important;
  }

  &-role {
    user-select: none;
  }
}
