@import '../../../styles/palette';


.content {
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr;
}

.text, .legend {
    color: $white;
    margin-left: .8rem;
}

.text {
    font-size: 12pt;
    line-height: 1.2;

    &[data-obligatory=yes] {
        &:after {
            content: '*';
            font-size: 14pt;
            font-weight: bold;
            color: $green-complementary;
            margin-left: 0.25rem;
        }
    }
}

.legend {
    font-size: 10pt;
}

.field {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    gap: .4rem;
    padding: 1rem;
    border-radius: 1.2rem;
    background-color: $blue-light-shade;
}