@import '../../../../styles/fonts';
@import '../../../../styles/palette';


.title {
    color: $white;
    font: 600 22pt $title-font;
    line-height: 1;
    letter-spacing: .2rem;
}

.obligatory {
    &-content {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: .4rem;
    }

    &-label {
        color: $white;
        font-size: 10pt;
    }
}

.select {
    font-size: 12pt;
    width: 5.2rem;
    margin: 0;
    outline: 0;
    border: none;
    background-color: transparent;
    appearance: none;
    background-image:
        url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
}

.search {
    display: grid;
    place-content: center;
    font-size: 16pt;
    color: $black;
    border-color: transparent;
    background-color: transparent;
}