.home,
.public {
    width: 100%;
    height: 100%;
    display: grid;
    box-sizing: border-box;
}

.home {
    grid-template-rows: auto 1fr 1fr;
}

.public {
    grid-template-rows: auto 1fr;

    > main {
        width: 80vw;
        height: 100%;
        position: sticky;
        margin: 10rem auto 5rem auto;
    }
}