.home,
.public {
    width: 100vw;
    height: 100%;
    display: grid;
    box-sizing: border-box;
    overflow-x: hidden;
}

.home {
    grid-template-rows: auto auto 1fr auto;
}

.public {
    grid-template-rows: auto 1fr auto;
}