.public {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    > main {
        flex-grow: 1;
        width: 80vw;
        height: 100%;
        position: sticky;
        margin: 10rem auto 5rem auto;
    }

    > footer {
        flex-shrink: 0;
    }
}