@import '@/styles/animations';
@import '@/styles/mixins';
@import '@/styles/palette';

.item {
  @include non-list;
  @include slideInRight;
}

.button {
  display: inline-flex;
  align-items: flex-start;
  gap: 0.4rem;
  font-size: 10pt;
  font-weight: 600;
  letter-spacing: 0.45px;
  border: none;
  outline: 0;
  color: $green-blue-monochromatic;
  background-color: transparent;

  &:hover {
    font-weight: 600;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }

  &--disable {
    @extend .button;
    color: $green-complementary;
  }
}
