@import '../../../styles/palette';


.form {
    width: 100%;
    height: max-content;
    display: grid;
    gap: 1.6rem;
    grid-template-columns: 1fr;
}

.field {
    flex: 1;
    display: flex;
    padding: 1rem;
    border-radius: 1.2rem;
    background-color: $blue-light-shade;
}

.button {
    transition: .5s;
}

.container {
    display: flex;
    gap: .8rem;
    align-items: center;
}

.text {
    color: $white;
    font-size: 10pt;
}

.checkbox {
    font-size: 16pt;
}