@import '../../styles/palette';
@import '../../styles/fonts';


.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: .7rem;
    margin-bottom: 1rem;
}

.head-cell {
    padding: 0 .2rem .6rem .2rem;
    border-bottom: 2px solid $blue-monochromatic;

    & > div:first-child {
        font: 600 12pt $title-font;
        letter-spacing: 0.8px;
        margin-bottom: .2rem;

        &.sorting {
            cursor: pointer;
            user-select: none;
        }
    }

    & > div:last-child {
        & .filter {
            display: flex;
            gap: .2rem;
            justify-content: center;
            align-items: center;
        }

        & .filter-input {
            font-size: 9pt;
            outline: 0;
            border-radius: 8px;
            padding: 2px 0 2px 4px;
            color: $black;
            caret-color: $blue-monochromatic;
            border: 2px solid $blue-monochromatic;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

            &:out-of-range {
                border-color: $green-complementary;
            }

            &.small {
                width: 100%;
            }

            &.large {
                width: 12rem;
            }
        }
    }
}

.row {
    border-bottom: 2px solid $blue-monochromatic;
    transition: .3s all ease;

    &:hover, &.active {
        font-weight: 500;
        background-color: $blue-light-shade;
    }
}

.cell {
    font: 300 10pt $body-font;
    padding: 1.6rem .2rem;
    transition: .3s all ease;

    &::selection {
        font-weight: 600;
        color: white;
        background-color: $blue-monochromatic;
    }
}