@import '../../../styles/mixins';
@import '../../../styles/breakpoints';

.navbar {
    width: 98%;
    display: flex;
    place-content: baseline space-around;
    align-items: center;
    flex-flow: row nowrap;
    position: fixed;
    top: 1.2rem;
    left: 50%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 2rem 2rem 4rem -.6rem rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(.45rem);
    border-radius: 1rem;
    transform: translate(-50%, 0);
}

.brand {
    width: 100%;
    height: 6rem;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
}

.nav {
    @include non-list;

    display: flex;
    place-content: center space-between;
    align-items: center;
    gap: 4rem;
}

.item {
    &:nth-child(-n+4) {
        display: none;
    }

    @include for-size($s) {
        &:nth-child(4) {
            display: inherit;
        }
    }

    @include for-size($m) {
        &:last-child {
            display: none;
        }

        &:nth-child(-n+3) {
            display: inherit;
        }
    }
}

.link,
.login {
    @include non-link;
    font: 600 12pt Roboto;
}

.link {
    position: relative;
    display: inline-block;
    color: $black;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.08em;
    transition: all .3s ease 0s;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 3px;
        background-color: $green-blue-monochromatic;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .25s ease-out;
    }

    &:hover::before {
        transform: scaleX(1);
    }
}

.active::before {
    transform: scaleX(1);
}