@import '../../styles/fonts';

.ratings {
    width: 80vw;
    height: 100%;
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 10rem auto 5rem auto;
}

.title {
    font: 600 28pt $title-font;
    margin: 0;
}

.paragraph {
    font-size: 12pt;
}