@import '../../styles/palette';
@import '../../styles/fonts';
@import '../../styles/mixins';

.button {
    @include non-link;

    display: inline-block;
    padding: .8rem 3.2rem;
    border-radius: 1.2rem;
    transition: transform .25s ease;

    &:active {
        transform: scale(.9);
    }
}

.floating {
    font: 700 16pt $body-font;
    color: $white;
    background-color: $green-complementary;
    box-shadow: 0 4px 12px $blue-monochromatic;
    letter-spacing: 0.045rem;
    transition: all .3s ease 0;
    cursor: pointer;

    &:hover {
        background-image:
            linear-gradient(165deg, $green-complementary 55%, $blue-complementary 100%);
        box-shadow:
            0 12px 12px $blue-monochromatic,
            0 -4px 14px rgba(0, 43, 77, 60%);
    }
}

.primary,
.secondary {
    font: 600 12pt $body-font;
    letter-spacing: 0.07rem;
    color: $white;
    border-color: transparent;
    outline: 0;
}

.primary {
    background-color: $blue;

    &:hover {
        transition: box-shadow 400ms;
        box-shadow:
            3px 3px 10px rgba($blue-analogous, .5),
            -3px -3px 10px rgba($blue-analogous, .5);
    }
}

.secondary {
    background-color: $green-complementary;

    &:hover {
        transition: box-shadow 400ms;
        box-shadow:
            3px 3px 25px rgba($green-complementary, .75),
            -3px -3px 25px rgba($green-complementary, .75);
    }
}

.icon {
    font-size: 16pt;
    color: $black;
    border-color: transparent;
    background-color: transparent;
    padding: 0;
    outline: 0;

    &:hover {
        filter: drop-shadow(1px 4px 4px rgba($blue-monochromatic, 0.75));
    }
}