:root {
    --green: #01a95a;
    --blue: #0192fe;
    --green-blue: #4a839c;
    --green-light-shade: #C2F2DC;
    --blue-light-shade: #C2DDF2;
    --green-blue-light-shade: #C2E4F2;
    --green-monochromatic: #014D29;
    --blue-monochromatic: #002B4D;
    --green-blue-monochromatic: #24404D;
    --green-analogous: #02AFB5;
    --blue-analogous: #4DB2FF;
    --green-blue-analogous: #1D7EA8;
    --green-complementary: #A8024F;
    --blue-complementary: #FF6A00;
    --green-blue-complementary: #A14C4D;
    --background-white: #dfe6e9;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: Roboto;
    background: hsla(198, 19%, 89%, 1);
    background:
        linear-gradient(135deg, hsla(198, 19%, 89%, 1) 64%, hsla(197, 66%, 85%, 1) 100%);
}

body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--blue-monochromatic);
    border-radius: 1rem;
}

body::-webkit-scrollbar-track {
    background-color: var(--blue-light-shade);
}

.header {
    height: 100vh;
    position: sticky;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10%;
    background-color: var(--green-blue-analogous);
    border-bottom-right-radius: 30% 20%;
    margin: 0;
}

.header__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    color: var(--background-white);
}

.header__image-container {
    width: auto;
    height: 100%;
}

.header__image-container img {
    width: clamp(auto, auto, auto);
    height: clamp(98vh, 99vh, 100vh);
    aspect-ratio: auto 1 / 2;
    border: 1px solid var(--blue-light-shade);
    border-bottom-right-radius: 40% 20%;
    filter: drop-shadow(12px 4px 8px var(--blue-monochromatic));
}

.header--title {
    align-self: flex-start;
    font-family: 'Anek Telugu';
    text-transform: uppercase;
    letter-spacing: 4px;
    user-select: none;
    text-shadow: 6px 4px 6.4px var(--blue-monochromatic);
}

.header--title__content {
    display: flex;
    flex-direction: column;
}

.header--title__content--slice {
    display: inline-block;
}

.header--title__content--slice:first-child {
    font-size: 36pt;
}

.header--title__content--slice:last-child {
    font-size: 24pt;
}

.header--appointment {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    user-select: none;
}

.header--appointment__text {
    display: inline-block;
    font-size: 16pt;
    text-align: right;
    text-shadow: 8px 4px 12px var(--blue-monochromatic);
    line-height: 28px;
    letter-spacing: 0.045rem;
}

.header--appointment__button {
    display: inline-block;
    font: 700 16pt Roboto;
    text-decoration: none;
    letter-spacing: 0.045rem;
    color: var(--background-white);
    background-color: var(--green-complementary);
    padding: .8rem 3.2rem;
    border-radius: 1.2rem;
    cursor: pointer;
    box-shadow: 0 4px 12px var(--blue-monochromatic);
    transition: all .3s ease 0s;
}

.header--appointment__button:hover {
    background-image:
        linear-gradient(165deg, var(--green-complementary) 55%, var(--blue-complementary) 100%);
    box-shadow:
        2px 12px 12px var(--blue-monochromatic),
        -2px -4px 14px rgba(0, 43, 77, 60%);
}

.navbar {
    width: 98%;
    display: flex;
    place-content: baseline space-around;
    align-items: center;
    flex-flow: row nowrap;
    position: fixed;
    top: 1.2rem;
    left: 50%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 2rem 2rem 4rem -.6rem rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(.45rem);
    border-radius: 1rem;
    transform: translate(-50%, 0);
}

.navbar__brand {
    width: 20%;
    height: 100%;
    filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.5));
}

.navbar__nav {
    display: flex;
    place-content: center space-between;
    align-items: center;
    gap: 4rem;
    list-style-type: none;
}

.navbar__nav--item {
    position: relative;
}

.navbar__nav--item:not(:last-child)::before {
    content: '';
    height: .3rem;
    width: 0;
    background-color: var(--green-blue-monochromatic);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.2s ease-out;
}

.navbar__nav--item:not(:last-child):hover::before {
    width: 100%;
}

.navbar__link {
    display: inline-block;
    color: #222;
    font: 600 12pt Roboto;
    text-decoration: none;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.08em;
    transition: all .3s ease 0s;
}

.navbar--login {
    color: var(--background-white);
    background-color: var(--green-complementary);
    padding: .8rem 3.2rem;
    border-radius: 1.2rem;
    box-shadow: 0 4px 12px var(--blue-monochromatic);
    transition: all .3s ease 0s;
}

.navbar--login:hover {
    background-image:
        linear-gradient(165deg, var(--green-complementary) 55%, var(--blue-complementary) 100%);
    box-shadow:
        0 4px 12px var(--blue-monochromatic),
        0 -4px 12px rgba(0, 43, 77, 60%);
}

.main {
    display: block;
    height: 100%;
    position: sticky;
}

.about {
    width: 100%;
    height: 100vh;
}