@import '../../../../styles/fonts';
@import '../../../../styles/palette';


.container {
    width: min(8in, 80%);
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 2rem auto;
}

.profile {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2rem;

    & > .name {
        font: 600 28pt $title-font;
        line-height: 1.15;
        letter-spacing: 0.1rem;
        margin: 0;
    }

    & > .commands {
        display: flex;
        flex-flow: row wrap;
        gap: 1.6rem;
        justify-content: flex-start;
        align-items: center;

        & > .button {
            display: inline-flex;
            align-items: center;
            gap: 0.6rem;
            font-size: 10pt;
            font-weight: 500;
            letter-spacing: 0.045rem;
            color: $green-blue-monochromatic;
            background-color: transparent;
            border: none;
            outline: 0;

            &:hover {
                font-weight: 600;
                transform: scale(1.1);
            }

            &:active {
                transform: scale(.9)
            }

            &:last-child {
                color: $green-complementary;
            }

        }
    }
}

.badge-role {
    font-size: 10pt;
    user-select: none;
}