@import '../../styles/fonts';
@import '../../styles/palette';

.list {
    border-color: $green-blue;

    .tab {
        font: 600 12pt $title-font;
        letter-spacing: 0.8px;
        user-select: none;

        display: inline-flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 0.6rem;

        &--selected {
            color: $green-blue-monochromatic;
            background-color: $green-blue-light-shade;
            border-color: $green-blue;

            &:focus:after {
                background-color: $green-blue;
            }
        }
    }
}