@import '../../../../styles/fonts';
@import '../../../../styles/palette';


.title {
    color: $white;
    font: 700 22pt $title-font;
    line-height: 1;
    letter-spacing: .2rem;
}

.text {
    color: $white;
    font-size: 14pt;
    letter-spacing: 0.4px;
    line-height: 1.5;
}

.commands {
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
    margin: 2.4rem 0;
}