@import '@/styles/fonts';

.suggestions {
  height: 80vh !important;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font: 600 28pt $title-font;
  margin: 0;
}

.paragraph {
  font-size: 12pt;
}
